# Default ignored files
/../../prova per git /.idea/shelf/
/../../prova per git /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../prova per git /.idea/httpRequests/
# Datasource local storage ignored files
/../../prova per git /.idea/dataSources/
/../../prova per git /.idea/dataSources.local.xml
